{% trans_default_domain 'front_messages' %}
{% if category.articles|length or category.subcategories|length %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown_category_{{ category.id }}"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        >
            <span>{{ category.name }}</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdown_category_{{ category.id }}">
            {% for article in category.articles %}
                <li class="dropdown-item">
                    <a href="{{ path('front_page_article', { 'slug': article.slug }) }}">
                        <span>{{ article.title }}</span>
                    </a>
                </li>
            {% endfor %}
            {% for subcategory in category.subcategories %}
                {% include 'front/block/_navbar_category.html.twig' with { 'category': subcategory } %}
            {% endfor %}
        </ul>
    </li>
{% endif %}
